<div class="panel panel-default">
    <div class="panel-heading">Update User</div>
    <div class="panel-body">

        <form action="#" (ngSubmit)="update()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name"id="name" [(ngModel)]="user && user.name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="email" [(ngModel)]="user && user.email">
            </div>

            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" name="password" class="form-control" id="password" [(ngModel)]="user && user.password">
            </div>
            
            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role" class="form-control">
                    <option *ngFor="let role of roles" value="{{ role.id }}" [selected]="user && role.id === user.role.id">{{ role.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
